@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Hero*/

* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Lato", sans-serif;
}

header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    width: 100%;
    position:fixed;
}

header img {
    height: 72px;
    padding-top: 10px;
}

header ul {
    list-style: none;
    padding: 16px;
    display: flex;
    gap: 16px;
}

header a {
    text-decoration: none;
    color: azure;
    font-size: 18px;
    font-weight: 400;
}

/*HERO*/

.hero-container {
    background: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
}

.hero-content {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 90%;
}

.hero-content h1, 
.customer-content h1{
    font-size: 100px;
    text-align: center;
    font-weight: 900;
}

.hero-content p {
    font-size: 28px;
    text-align: center;
    width: 500px;
}

/*Pricing*/

.pricing-container {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-container h1 {
    margin-top: 100px;
    font-size: 100px;
    font-weight: 900;
    color: #000000;
}

.pricing-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 100px 0;
}

.card {
    width: 300px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px;
}

.card h2 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.card li {
    margin-bottom: 10px;
    text-align: center;
}

.card-container ul {
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.card button,
.customer-content button {
    padding: 10px 40px;
    border: 5px solid #800000;
    background: transparent;
    border-radius: 10px;
    color: #800000;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    background-color: #800000;
    color: #f4f4f4;
}

/*Clientes*/

.customer-container {
    background-color: #000000;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.customer-content {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.customer-content h1 {
    margin-bottom: 50px;
}

.customer-content img {
    width: 80%;
}

/*FOOTER*/

.footer-container {
    height: 400px;
    background-color: #ffffff;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    gap: 30px;
}

.footer-content h4 {
    font-weight: 900;
    padding: 5px;
}

.footer-content li {
    list-style-type: none;
    padding: 5px;
}

.footer-content a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.social-network {
    width: 50%;
    display: flex;
}

.social-network ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    color: #000000;
    list-style-type: none;
}

.social-network a{
    color: black;
}

